*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

header {
  background-color: #333;
}

header > ul {
  height: 2rem;
  overflow: hidden;
  display: flex;
  list-style-type: none;
  align-items: center;
  /* specify height in parent to hepl with align-items */
}

header > ul > li > a {
  /* float: left; flex alternative*/
  color: whitesmoke;
  text-decoration: none;
  margin: 0 16px;
}

footer {
  width: 100%;
  padding: 2rem;
  height: 200px;
  object-fit: cover;
}
